* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #303841;
    overflow-y: hidden; /* Activa el scrollbar vertical solo si es necesario */
}

main {
    display: flex;
    font-family: 'Lato', sans-serif;
}

.panel_control {
    width: calc(100% - 15%); /* Ajusta el ancho para considerar la barra lateral reducida */
    height: 100vh;
    overflow-y: scroll; /* Activa el scrollbar vertical solo si es necesario */
    padding: 1%;
    background-color: #1d2021;
    position: relative; /* Asegura que se posicione correctamente */
    margin-left: 15%; /* Desplaza el contenido hacia la derecha para no estar detrás de la barra lateral */
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.panel_lateral {
    width: 15%; /* Reduce el ancho de la barra lateral */
    position: fixed; /* Mantiene la barra lateral fija mientras se hace scroll */
    height: 100vh;
    z-index: 2; /* Asegura que esté por encima del panel de control */
    background-color: #1d2021;
    overflow-y: auto; /* Permite hacer scroll en la barra lateral si es necesario */
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%); /* Oculta la barra lateral por defecto */
}

.panel_lateral.active {
    transform: translateX(0); /* Muestra la barra lateral cuando está activa */
}

.hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 10px;
    position: absolute; /* Para que se coloque en la parte superior izquierda */
    top: 10px;
    left: 10px;
}

@media (max-width: 480px) {
    .panel_control {
        width: 100%; /* Ajusta el ancho del panel de control en pantallas pequeñas */
        margin-left: 0;
    }
    .panel_lateral {
        width: 70%; /* Ancho ajustado de la barra lateral en dispositivos móviles */
        position: relative; /* Cambia la posición a relativa en pantallas pequeñas */
        height: auto; /* Ajusta la altura automáticamente */
        z-index: 1;
        transform: translateX(0); /* Asegura que se muestre correctamente en móviles */
    }
    .panel_lateral.active {
        display: none; /* Oculta la barra lateral cuando no está activa en móviles */
    }
}

/* Estilo para los encabezados (h1, h2, h3) */
h1, h2, h3 {
    font-family: 'Arial', sans-serif;
    color: #1d2227;
    margin-bottom: 16px;
    font-weight: 600; /* Usar un peso de fuente más grueso para destacarlos */
}

/* Estilo para h1 */
h1 {
    font-size: 32px;
    color: #1d2227; /* Un color de título más destacado */
    text-align: center;
    margin-top: 20px; /* Separación en la parte superior */
    text-transform: uppercase; /* Hacer el texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras para un look más moderno */
    transition: all 0.3s ease;
}

/* Efecto al pasar el mouse sobre h1 */
h1:hover {
    color: #2e5d50; /* Cambiar color al pasar el ratón */
    transform: scale(1.05); /* Ligeramente agrandar el texto */
}

/* Estilo para h2 */
h2 {
    font-size: 28px;
    color: #1d2227;
    text-align: left;
    margin-bottom: 12px;
    transition: all 0.3s ease;
}

/* Efecto al pasar el mouse sobre h2 */
h2:hover {
    color: #387478;
    transform: scale(1.03); /* Aumentar ligeramente el tamaño */
}

/* Estilo para h3 */
h3 {
    font-size: 22px;
    color: #555;
    text-align: left;
    margin-bottom: 8px;
    transition: all 0.3s ease;
}

/* Efecto al pasar el mouse sobre h3 */
h3:hover {
    color: #387478;
    transform: scale(1.03); /* Aumentar ligeramente el tamaño */
}

/* Agregar espaciado para los encabezados */
h1, h2, h3 {
    margin-left: 15px;
    margin-right: 15px;
}

/* Agregar sombra sutil a los encabezados para hacerlos más destacables */
h1, h2, h3 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.nav-area.open {
    display: flex;
}

.header-grid {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
}
